# loop

In [ ]:
l = [34,4,6,7,887,56,97,9]

In [ ]:
l

 # loop : for

In [ ]:
for <index> in <iterator>:
    print(index)

In [ ]:
len(l)

In [ ]:
 for i in range(0, 5):
        print(i)

In [ ]:
for i in range(0, 8):
    print(l[i])

In [ ]:
for i in range(0, len(l)):
    print(l[i])

# sum of number in list

In [ ]:
l

In [ ]:
sum = 0 

for i in range(0, len(l)):
    sum = sum + l[i]

print(sum)

# print the pattern

In [ ]:
word = "india"

for letter in word:
    print(letter)

# multiplication table

In [ ]:
n = 5
for i in range(1, 11):
    print(f" {n} x {i} = {n*i}")

In [ ]:
n = 5 
i = 3
print(f"rguregfkjebdfu: {n} {i}")

 # Factorial of number

In [3]:
result = 1
n = 10

for i in range(1, n+1):
    result = result * i
    
print(result)

3628800

# print the pattern

In [5]:
n = 5
i = 1

while i <=n:
    print(" * " * i)
    
    i = i + 1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [15]:
n = 5 
i = n

while i >= 1:
    print(" * " * i)
    
    i = i - 1

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [17]:
n = 5
i = 1

while i <=n:
    print(" * " * i)
    
    i = i + 1
n = 4 
i = n

while i >= 1:
    print(" * " * i)
    
    i = i - 1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

# pattern print

In [24]:
string = "shruti"
index = 0

while index < len(string):
    print(string[index])
    
    index += 1

s
h
r
u
t
i

In [1]:
num = int(input("Enter the number: "))

while num >= 0:
    print(num)
    
    num -= 1

Enter the number: 5
5
4
3
2
1
0

In [2]:
for i in range(15, 20):
    print(i)

15
16
17
18
19

In [3]:
  def test():
        print("hello")

In [4]:
test()

hello

In [5]:
def test():
    
    sum = 1 + 5
    
    return sum
test()

6

In [6]:
type(test)

function

In [7]:
result = test()

In [8]:
print(result)

6

In [9]:
type(result)

int

In [1]:
 def test():
        
        li = [1, 2, 3]
        
        return li
result = test()
print(result)

[1, 2, 3]

In [2]:
len(result)

3

In [3]:
def test():
    
    name = "atharva"
    
    return name
test()

'atharva'

In [6]:
name = test()

In [7]:
name

'atharva'

In [11]:
test() + " chaudhari"

'atharva chaudhari'

In [12]:
def test():
    
    return 35,78,24,8

In [13]:
test()

(35, 78, 24, 8)

In [18]:
def test():
    return[34,75,3]

test()

[34, 75, 3]

In [19]:
a,b,c = test()

In [20]:
a

34

In [21]:
b

75

In [22]:
c

3

In [23]:
def test():
    
    result = 13/2*45-4+22453
    
    return result
test()

22741.5

In [28]:
def test():

    l = [1,2,3,4,5,6,7,8,9,10]
    
    sum = 0
    
    for i in l:
        sum = sum + i
    
    return sum 
test()

55

In [34]:
def test():
    
    l = [1,2,3,4,5, 'india', 'pune', 6, 7, 8, 9, 10]
    
    sum = 0 
    
    for i in l:
        
        if type(i) == int:
            
            sum += i
        
    return sum

test()

55

In [3]:
def test(mylist):

    sum = 0
    
    for i in mylist:
        
        if type(i) == int:
            
            sum += i
            
    return sum
test(mylist)

29

In [1]:
mylist = [1,2,4, "erfergergr", "dhxfyuedfgyu", 3, 4,7,8]

In [4]:
test(mylist)

29

In [10]:
def no_sum(a, b):
    
    sum = a + b
    
    return sum

In [11]:
a = 35
b = 375

no_sum(a, b)

410

In [12]:
len(mylist)

9

In [9]:
l = [1, 2, 3, 4, 'a', 'b', 'c', 5]

print(l)

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [10]:
def test(mylist):
    
    li_int = []
    li_str = []
    
    for i in mylist:
        
        if type(i) == str:
            li_str.append(i)
            
        if type(i) == int:
            li_int.append(i)
            
    return li_str, li_int

In [11]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [12]:
li_str, li_int = test(l)

In [13]:
li_str

['a', 'b', 'c']

In [14]:
li_int

[1, 2, 3, 4, 5]